body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#667eea,#764ba2);
}

.register-container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.register-card{
background:white;
padding:30px;
width:380px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,.3);
text-align:center;
}

.register-card input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
}

.register-card button{
width:100%;
padding:12px;
background:#6c63ff;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
}

.register-card button:hover{
background:#4d44ff;
}